@page "/"
@page "/index"

<div class="jumbotron">
  <h1 class="display-4">SMS.Wasm</h1>
  <p class="lead">A WebAssembly Application</p>
  <hr class="my-4">
  <p>Developed using Blazor Framework and EF Core</p>
  
</div>
