@page "/register"
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<h1 class="mb-4">Register</h1>

@if (ShowErrors)
{
    <Alert Message=@Error Type="danger"/>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please enter your details</h5>
        <EditForm Model="RegisterModel" OnValidSubmit="HandleRegistration">
            @* <DataAnnotationsValidator /> *@
            <FluentValidator />

            <div class="form-group">
                <label for="name">Name!</label>
                <InputText Id="name" class="form-control" @bind-Value="RegisterModel.Name" />
                <ValidationMessage For="@(() => RegisterModel.Name)" />
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <InputText Id="email" class="form-control" @bind-Value="RegisterModel.EmailAddress" />
                <ValidationMessage For="@(() => RegisterModel.EmailAddress)" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText Id="password" type="password" class="form-control" @bind-Value="RegisterModel.Password" />
                <ValidationMessage For="@(() => RegisterModel.Password)" />
            </div>
            <div class="form-group">
                <label for="confirmpassword">Confirm Password</label>
                <InputText Id="confirmpassword" type="password" class="form-control" @bind-Value="RegisterModel.ConfirmPassword" />
                <ValidationMessage For="@(() => RegisterModel.ConfirmPassword)" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>

@code {

    private RegisterRequest RegisterModel = new RegisterRequest();
    private bool ShowErrors;
    private string Error;

    private async Task HandleRegistration()
    {
        ShowErrors = false;

        var result = await AuthService.RegisterAsync(RegisterModel);

        if (result.IsSuccess)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            Error = result.Message;
            ShowErrors = true;
        }
    }
}