@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Timeout="4" Position="ToastPosition.BottomRight" RemoveToastsOnNavigation />

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SMS.Web</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <!-- Login/Register Menu items -->
                <NavLogin />
                
                <ul class="navbar-nav flex-grow-1">
                    <!-- home -->
                    <li class="nav-item">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>

                    <!-- students -->
                    <AuthorizeView>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/students">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Students
                            </NavLink>
                        </li>
                    </AuthorizeView>
                    
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main>
        @Body
    </main>
</div>






