@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Timeout="1" Position="ToastPosition.TopRight" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <h3>Manager Layout</h3>
    <div class="content px-4">
        @Body
    </div>
</div>
