@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims

<ul class="navbar-nav">
    <AuthorizeView>
        <Authorized> 
            <li class="nav-item"> 
                <NavLink class="nav-link" href="/users/logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout 
                    <span class="text-sm">(@context.User.Claims.SingleOrDefault(c => c.Type == ClaimTypes.Email).Value)</span>
                </NavLink>
            </li>
        </Authorized>

        <NotAuthorized>
            <li class="nav-item">
                <NavLink class="nav-link" href="/users/register">
                    <span class="oi oi-person" aria-hidden="true"></span> Register
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/users/login">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Login
                </NavLink>
            </li>
        </NotAuthorized>

    </AuthorizeView>
</ul>
